/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding: 60px 0;
}
.main .canvas {
  width: 100%;
  margin-bottom: 20px;
  display: block;
  box-shadow: 0 0 10px #aaf;
}











