/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding: 60px 0;
}
.main .canvas {
  margin: 20px auto;
  display: block;
  box-shadow: 0 0 10px #aaf;
}











